//META{"name":"Rosa","description":"Better pink discord","author":"kalanten","version":"A0.1"}*//

/*

Known bugs:
1. When in private messagelog, currently selected friend is still dark-grey, should be marked as on hover!

Wrong damn encoding :S
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand');

.scroller-wrap .scroller {
    font-family: Quicksand !important;
}

.content, div.guild-header header, 
.theme-dark .chat .title-wrap, 
.theme-dark .messages-wrapper, 
#voice-connection, .account, 
#voice-connection .btn, 
.account .btn-group .btn, 
.theme-dark .chat form, 
.settings .settings-header,
.settings .settings-inner,
.theme-dark #friends,
.search-bar,
.theme-dark #friends .friends-header,
.private-channels .channel.selected,
.private-channels,
.private-channels channel.selected.private {
    background-color: rgba(192, 32, 192, 0.5) !important;
    border-color: rgba(92, 0, 92, 0.7) !important;
}

.private-channels channel.selected.private {
    background: none !important;
}

.message-group.compact .message.first span.timestamp {
    color: rgba(255,255,255,0.7) !important;
}

.message-group.compact .message:not(.first) span.timestamp {
    text-shadow: 0px 0px 3px rgba(1, 1, 1, 1) !important;
    color: rgba(192, 192, 192, 0.5) !important;
}

button.btn-primary,
#friends .friends-table .friends-table-header,
.theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary,
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: rgba(192, 0, 192, 0.9) !important;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece,
.settings .settings-inner .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(159, 0, 159, 0.5) !important;
    border-color: rgba(127, 0, 127, 0.7) !important;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb,
.settings .settings-inner .scroller-wrap ::-webkit-scrollbar-thumb,
.theme-dark .friends-table .messages .divider span, 
.theme-dark .friends-table .messages .divider:before, 
.theme-dark .messages-wrapper .messages .divider span, 
.theme-dark .messages-wrapper .messages .divider:before {
    border-color: rgba(192, 0, 192, 0.5) !important;
    background-color: rgba(92, 0, 92, 0.7) !important;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb:hover,
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb:hover,
.settings .settings-inner .scroller-wrap ::-webkit-scrollbar-thumb:hover,
.theme-dark .friends-table .messages .divider span:hover, 
.theme-dark .friends-table .messages .divider:before:hover, 
.theme-dark .messages-wrapper .messages .divider span:hover, 
.theme-dark .messages-wrapper .messages .divider:before:hover:hover {
    border-color: rgba(192, 0, 192, 0.5) !important;
    background-color: rgba(172, 23, 172, 0.7) !important;
}
#voice-connection .btn-group, 
.account .btn-group,
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action
 {
    border: 1px outset rgba(92, 0, 92, 0.7) !important;
}

.theme-dark #friends .friends-table .friends-row:hover,
.private-channels .channel:hover {
    background:-webkit-linear-gradient(left,rgba(64, 13,64,0.8),rgba(64, 13,64,0.1)) !important; 
}


.theme-dark #friends .friends-table .friends-row:hover, .private-channels .channel.btn-friends.selected {
    background: -webkit-linear-gradient(left,rgba(64, 13,64,0.8),rgba(64, 13,64,0.1)) !important;
}

.tab-bar.TOP .tab-bar-item {
    color: rgba(192,37,227,0.8) !important;
}

.tab-bar.TOP .tab-bar-item.selected {
    border-bottom: 2px solid #4269da !important;
    color: #4269da !important;
}

.theme-dark #friends .friends-header .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(64, 13,64,0.8) !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
    border-color: rgba(192, 0, 192, 0.8) !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #fff;
    color: rgba(192, 0, 192, 0.8) !important;   
}

.bda-slist .bda-left {
    width: 370px !important;
}

.user-settings-modal.settings {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%) !important;
}

.guilds-wrapper {
    background-color: rgba(27, 0, 27, 1) !important;
}
.guilds-channels {
    background-color: rgba(192, 0, 192, 0.5) !important;
}

.badge {
    background-color: rgba(255, 255, 0, 1) !important;
    box-shadow: 0px 0px 8px rgba(27, 0, 27, 0.7) !important;
    color: #000 !important;
    font-size: 10px;
    padding: 1px 2px;
}

.channel-members *,  * {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9) !important;
}

.bd-minimal .theme-dark .comment {
    border-left: 2px outset rgba(73,0,73,0.7) !important;
}

.guilds-wrapper .guilds .guild .guild-inner, 
.guild-channels .avatar-small, .avatar-small {
    box-shadow: 0px 0px 8px rgba(27, 0, 27, 0.7);
}

.scroller-wrap .scroller {
    background: rgba(192, 0, 192, 0.5) !important;
}

.guild-channels .channel {
    background: rgba(192, 0, 192, 0.5) !important;
}

